body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.section {
  background-color: black;
  padding: 12px;
}
/* navigation{
               list-style: none;
               margin: 0px;
               padding: 0px;
               background: black;
               border-radius: 0px;
               overflow: auto;
           } */

/* .navigation li{
               float: left;
  
           } */
.navigation a,
.main-head {
  /* display: block; */
  text-decoration: none;
  color: white;
  padding: 30px;
}

.main-head {
  font-weight: bolder;
  font-size: 20px;
  padding: 12px;
}
.text-writing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 150px 50px 80px 150px;
}
.text-para {
  /* margin: 0 80px; */
  max-width: 1100px;
}

.flexbox-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image1 {
  /* margin-top: 150px;
  margin-left: 30px; */
  height: 300px;
  width: 300px;
  border-radius: 90%;
  object-fit: cover;
}

.text-para {
  flex: content;
  flex-direction: row;
  justify-content: right;
}

#para_bold {
  font-weight: bold;
}
.bottom_pic {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  /* height: 50px;
  width: 50px;
  border-radius: 50%; */
}
.bottom_pic img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.bottom_pic h3 {
  text-align: center;
}
.footer {
  background-color: rgba(0, 0, 0, 0.879);
  color: white;
  padding: 20px;
  margin: 0;
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-links > div {
  padding: 0px 0px 0px 80px;
}
.copyright {
  text-align: center;
  font-size: medium;
  font-weight: lighter;
}
.footer > p {
  padding: 0;
  margin: 0;
  font-size: medium;
}
.flexbox img {
  border-radius: 10px;
}
.h2 {
  color: white;
  border-radius: 50%;
  height: 300px;
  width: 200px;
  background-color: blue;
}
.padding_control {
  padding: 10px 8px;
  font-weight: bold;
}
/* Selects the second element of div siblings */
.padding_control:nth-of-type(1) {
  padding: 10px 20px 16px 20px;
}
.rights {
  font-weight: lighter;
  text-align: center;
}
